{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
	<div class="container">
		<a href="/accounts/settings" class="btn btn-primary my-3">Назад</a>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 text-center mt-5 pt-5">
				<div class="">
					{% if avatar %}
						<img src="{{avatar}}"
							 style="max-width: 200px;">
					{% else %}
						<img src="{% static 'default_avatars/avatar.png' %}"
							 style="max-width: 200px;">
					{% endif %}
				</div>
				<div class="">
					<form class="mt-5 pt-5" enctype="multipart/form-data" method="POST">
						{% for f in form %}
						<div class="form-floating mb-3">
							{{f}}
							<label for="{{f.id_for_label}}">{{f.label}}</label>
							<div class="form-error">{{f.errors}}</div>
						</div>
						{% endfor %}

						{% csrf_token %}
						<div class="d-flex justify-content-center gap-3">
							<button class="d-flex w-50 btn btn-outline-primary shadow justify-content-center mx-auto" type="submit">Обновить</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
{% endblock %}
