{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
	<div class="container-fluid my-5">
		<div class="row">
			<div class="col-2">
				<h4>Мои проекты</h4>
				<ul class="list-group">
					<a class="list-group-item active" href="create_project">Создать</a>
					{% for project in projects %}
						<a href="projects/{{project.id}}" class="list-group-item">{{project.title}}</a>
					{% endfor %}
				</ul>
			</div>
			<div class="col-8">
				<div class="text-center">
					{% if banner %}
						<img src="{{banner}}"
						     class="img-fluid rounded"
						     style="max-height: 200px; min-width: 100%; position: relative; z-index-1;">
					{% else %}
						<img src="{% static 'default_banners/banner.png' %}"
						     class="img-fluid rounded"
						     style="max-height: 200px; min-width: 100%; position: relative; z-index-1;">
					{% endif %}
					{% if avatar %}
						<img src="{{avatar}}"
							 style="max-width: 120px; top: -75px; z-index: 2; position: relative; border-radius: 50%;">
					{% else %}
						<img src="{% static 'default_avatars/avatar.png' %}"
							 style="max-width: 120px; top: -25%; z-index: 2; position: relative; border-radius: 50%;">
					{% endif %}
				</div>
				<div class="container-fluid text-center">
					<div class="row m-0 p-0 justify-content-center">
					{% for project in projects %}
					<div class="col-6 m-0 p-0 px-2">
						<ul class="list-group mb-2">
							<a style="min-height: 100px;" href="/accounts/projects/{{project.id}}" class="list-group-item">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
									<path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
									<path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
								</svg>
								{{project.title}}</br>

								<div class="row m-0 p-0 mt-2">
									<div class="col-6 m-0 p-0">
										<span class="badge text-bg" style="background-color: {{project.category.color}}; color: {{project.category.color}};">-</span>
										{{project.category.name}}
									</div>
									<div class="col-6 m-0 p-0">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFD700" class="bi bi-star-fill" viewBox="0 0 16 16">
										  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
										</svg>
										{{project.likes}}
									</div>
									<div class="col-12 mt-2">
										{% if project.get_privacy == "Публичный" %}
											{{project.get_privacy}}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
											  <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
											</svg>
										{% else %}
											{{project.get_privacy}}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
											  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
											</svg>
										{% endif %}
									</div>
								</div>
							</a>
						</ul>
					</div>
					{% endfor %}
				</div>
				</div>
			</div>
			<div class="col-2">

				<div class="text-end">
					<a href="/accounts/settings" class="btn btn-primary">Настройки профиля</a>
				</div>

				<div class="mt-3">
					<h4>Мои статьи</h4>
					<ul class="list-group">
						<a class="list-group-item active" href="create_post">Создать</a>
						{% for post in posts %}
							<a href="posts/{{post.id}}" class="list-group-item py-2">{{ post.title|truncatechars:20 }}</a>
						{% endfor %}
					</ul>
				</div>



			</div>
		</div>
	</div>
{% endblock %}
