{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
	<div class="container-fluid my-5">
		<div class="row">
			<div class="col-2">
				<h4>Мои проекты</h4>
				<ul class="list-group">
					<a class="list-group-item active" href="create_project">Создать</a>
					{% for project in projects %}
						<a href="projects/{{project.id}}" class="list-group-item">{{project.title}}</a>
					{% endfor %}
				</ul>
			</div>
			<div class="col-8 text-center">
				{% if banner %}
					<img src="{{banner}}"
					     class="img-fluid rounded"
					     style="max-height: 200px; min-width: 100%; position: relative; z-index-1;">
				{% else %}
					<img src="{% static 'default_banners/banner.png' %}"
					     class="img-fluid rounded"
					     style="max-height: 200px; min-width: 100%; position: relative; z-index-1;">
				{% endif %}
				{% if avatar %}
					<img src="{{avatar}}"
						 style="max-width: 120px; top: -25%; z-index: 2; position: relative;">
				{% else %}
					<img src="{% static 'default_avatars/avatar.png' %}"
						 style="max-width: 120px; top: -25%; z-index: 2; position: relative;">
				{% endif %}
			</div>
			<div class="col-2">

				<div class="text-end">
					<a href="/accounts/settings" class="btn btn-primary">Настройки профиля</a>
				</div>

				<div class="mt-3">
					<h4>Мои статьи</h4>
					<ul class="list-group">
						<a class="list-group-item active" href="create_post">Создать</a>
						{% for post in posts %}
							<a href="posts/{{post.id}}" class="list-group-item" style="max-height: 40px; overflow: hidden;">{{post.title}}</a>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
