{% extends "accounts/base.html" %}

{% block content %}
	<div class="container my-5">
		<a href="/accounts/" class="btn btn-primary my-3">Назад</a>
		<div class="row">
			<div class="col-4">
				<h4>Проект: {{project.title}}</h4>
				<div class="row m-0 p-0">
					<div class="col-6 m-0 p-0">
						<span class="badge text-bg" style="background-color: {{project.category.color}}; color: {{project.category.color}};">-</span>
						{{project.category.name}}
					</div>
					<div class="col-6 m-0 p-0">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFD700" class="bi bi-star-fill" viewBox="0 0 16 16">
						  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
						{{project.likes}}
					</div>
				</div>

			</div>
			<div class="col-7">
				{% if files %}
				<ul class="list-group">
					{% for file in files %}
						<li class="list-group-item text-dark">
							<a class="stretched-link" href="/media/{{file.path}}"></a>
							{{file.name}}
						</li>
					{% endfor %}
				</ul>
				{% else %}
					<div class="card">
						<div class="card-body text-center">
							<h4 class="m-0 p-0">К этому проекту пока не добавлены файлы</h4>
						</div>
					</div>
				{% endif %}
				<div class="text-end mt-3">
					<a class="btn btn-primary" href="/accounts/projects/{{project.id}}/add_details">Добавить файлы</a>
				</div>
			</div>
			<ul class="col-1 m-0 p-0 list-group">
				{% for file in files %}
					<li class="text-dark list-group-item m-0 p-0  mb-1">
						<a class="stretched-link btn btn-danger w-100" href="/accounts/projects/{{project.id}}/files/{{file.id}}/delete">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
							  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
							</svg>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
